<div class="comments">
  <h2>Comments:</h2>
  <ul class="comments">
    <li v-for="c in comments">
        <p class="head">
          <strong>[[c.username]]</strong>
          <i>[[c.created_at | toHumanReadable]]</i>
        </p>
        <p class="comment-text">[[c.comment]]</p>
    </li>
  </ul>
  <ul>
    <li v-if="isAuthenticated">
      <form class="comment-form" @submit.prevent="postComment">
        <div class="field">
          <textarea v-model="commentText"></textarea>
        </div>
        <div class="action-control">
          <button type="button" @click.prevent="logout">Logout</button>
          <button>Post</button>
        </div>
      </form>
      
    </li>
    <li v-else>
      <div class="mt-16">
        <button @click.prevent="changeActive('signin')">Signin</button> or
        <button  @click.prevent="changeActive('signup')">Signup</button> to post comment.
      </div>
      <auth-component @success="onSuccess" v-if="activeItem " :type="activeItem" /></li>
  </ul>

</div>