html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}

.d-flex {
    display: flex;
}

.df-column {
    flex-direction: column;
}
.df-row {
    flex-direction: row
}
.df-justify-content-sb {
    justify-content: space-between
}

.container {
    width: 880px;
    margin: 0 auto
}

.nav {
    background: #18354c;
    padding:1rem 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.brand h1 {
    margin: 0;
    color: #fff;
}
.brand h1 a {
    color: #fff;
    text-decoration: none;
}

.navbar .menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar .menu-items .menu-item {
    padding: .8rem 1rem;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}
.menu-items .is-dark {
    background: rgba(0,0,0,.4);
    border-radius: 4px;
}

.navbar .menu-items .menu-item a {
    color: #ddd;
    text-decoration: none;
}
.navbar .menu-items .menu-item a:hover {
    color: #fff;
}
.content-area {
    padding: 1.5rem 0;
}
.list-view {
    margin: 0 auto;
    width: 660px;
    background-color: #fff;
    border-radius: 4px;
}

.list-view .list-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.list-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-view .list-item p {
    line-height: 1.5;
}
.list-view .list-item .list-image img {
    width: 100%;
    border-radius: 4px;
}

.list-item-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
}
.list-item-meta span {
    font-weight: bold;
}
.list-item-meta span b {
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #777;
}

.star {
    background: url(./../img/star.svg);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 2px;
}

.description {
    color: #555;
}

.list-item-meta .price {
    background: #eee;
    padding: 8px;
    border-radius: 4px;
}

.movie-genres b {
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #777;
}
.movie-genres span {
    font-weight: bold;
    font-size: 12px;
    border-right: 1px solid #ddd;
    display: inline-block;
    padding: 0 4px
}

.movie-genres span:last-child {
    border-right-width: 0px;
}

.movie-detail {
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
}

.title{
    margin: 0;
    padding: 1rem 1rem 0;
}

.field {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.field label {
    color: #555;
}

.field input, .field textarea, .field select {
    padding: 0.5rem;
    margin-top: .5rem;
    border-radius: 0.25rem;
    border: 1px solid #ddd;
}

.error-message {
    color: red;
    margin: 4px;
    font-size: 12px;
}
.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success{
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.comments {
    border-radius: 0.5rem;
    padding: .5rem;
    background-color: #fcf8e3;
}
ul.comments li {
    border-bottom: .25rem solid #fff;
    padding: .25rem;
    color: #8a6d3b;
}
ul.comments li:last-child {
    border-bottom-width: 0;
}

ul.comments li p {
    margin: 0;
}

ul.comments li p.comment-text {
    margin-top: .25rem;
}

ul.comments li .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul.comments li .head strong {
    letter-spacing: 1.5px;
}
ul.comments li .head i {
    font-size: 12px;
}

.comment-form {
    
}

.component {
    padding: 1rem;
    border: 1px solid #ddd;
    margin: 1rem 0;
    border-radius: 4px;
}

.action-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mt-16 {
    margin-top: 1rem;
}